/* Stile della scacchiera */
.game-board {
  border: 2px solid #333;
  display: inline-block;
}

.status {
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.board-row {
  display: flex;
}

/* Stile della singola cella */
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px; /* Aumenta la dimensione del font per 'X' e 'O' */
  font-weight: bold;
  line-height: 80px; /* Centra verticalmente */
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  cursor: pointer;
}

.square:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(7, 133, 235, 0.7);
}
